div.profile{
    width: 50%;
    float: center;
    height: 50vh;
    margin: auto;
    display: block;
    padding-top: 10px;
}

div.profile h1{
    font-size:  3em;
}

div.left {
    float: left;
}

div.right {
    float: right;
}